<mat-toolbar class="toolbar">

<button
    mat-icon-button
    (click)="toggle()">

    <mat-icon>menu</mat-icon>

</button>

    <span class="logo">

        Control Total

    </span>

    <span class="spacer"></span>

    <button mat-icon-button>

        <mat-icon>notifications</mat-icon>

    </button>

    <button mat-icon-button>

        <mat-icon>dark_mode</mat-icon>

    </button>

    <button mat-button>

        <mat-icon>account_circle</mat-icon>

        Jonathan

        <mat-icon>expand_more</mat-icon>

    </button>

</mat-toolbar>