# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# IntelliJ IDEA
# ===========================
.idea/
*.iml

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment
# ===========================
.env
.env.local

# ===========================
# Maven
# ===========================
**/target/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Eclipse
# ===========================
.project
.classpath
.settings/

# ===========================
# NetBeans
# ===========================
nbproject/
build/
dist/