:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shell-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: auto;
  background: #F8FAFC;
  padding: 32px;
}

.content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}