<nav class="sidebar">

    <a routerLink="/"
       routerLinkActive="active">

        <mat-icon>dashboard</mat-icon>

        Dashboard

    </a>

    <a routerLink="/empresas">

        <mat-icon>business</mat-icon>

        Empresas

    </a>

    <a routerLink="/sucursales">

        <mat-icon>store</mat-icon>

        Sucursales

    </a>

    <a routerLink="/productos">

        <mat-icon>inventory_2</mat-icon>

        Productos

    </a>

    <a routerLink="/inventario">

        <mat-icon>warehouse</mat-icon>

        Inventario

    </a>

    <a routerLink="/ventas">

        <mat-icon>point_of_sale</mat-icon>

        Ventas

    </a>

    <a routerLink="/reportes">

        <mat-icon>bar_chart</mat-icon>

        Reportes

    </a>

</nav>