<nav
    class="sidebar"
    [class.collapsed]="collapsed">

    <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">

        <mat-icon>dashboard</mat-icon>

        <span>Dashboard</span>

    </a>

    <a
        routerLink="/empresas"
        routerLinkActive="active">

        <mat-icon>business</mat-icon>

        <span>Empresas</span>

    </a>

    <a
        routerLink="/sucursales"
        routerLinkActive="active">

        <mat-icon>store</mat-icon>

        <span>Sucursales</span>

    </a>

    <a
        routerLink="/productos"
        routerLinkActive="active">

        <mat-icon>inventory_2</mat-icon>

        <span>Productos</span>

    </a>

    <a
        routerLink="/inventario"
        routerLinkActive="active">

        <mat-icon>warehouse</mat-icon>

        <span>Inventario</span>

    </a>

    <a
        routerLink="/ventas"
        routerLinkActive="active">

        <mat-icon>point_of_sale</mat-icon>

        <span>Ventas</span>

    </a>

    <a
        routerLink="/reportes"
        routerLinkActive="active">

        <mat-icon>bar_chart</mat-icon>

        <span>Reportes</span>

    </a>

</nav>